body{
    overflow-y: scroll;
    margin: 0px;
    background-color: #45567d;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); height: 670px;
    background-repeat: no-repeat;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #be3144;
    position: fixed;
    width: 100%;
    top: 0px;
    }
.nav{
    float: left;
}
.li {
    float: right;
   }
.li a {
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    height: 30px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    padding: 20px;
    }
.li a:hover {
    background-color: #45567d;
    } 
h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 200px;
    font-size: 60px;
    color: #f0f0f0; 
    text-decoration: none
    }
.learn{
        font-weight: 500; 
        color: #be3144;
        font-style: italic;
        text-align: center;
        font-size: 30px;
        line-height: 0px;
        font-family: 'Poppins', sans-serif
    }
h2{
    padding-top: 400px;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
    }
table{
        margin-left: auto;
        margin-right: auto;
    }
.img{
        display: flex;
    }
.bt{
    text-align: center;
    background-color: #303841;
    display: block;
    color: #f0f0f0;
    margin-left: 650px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    }
.bt a{
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 30px;
    font-family: "Font Awesome 5 Free";
    }
.bt a:hover{
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transform: translateX(0);
    }
footer{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    background-color: #45567d;
    height: 670px;
    background-repeat: no-repeat; 
    }
h5{
    color: #f0f0f0;
    text-decoration: none; 
    font-weight: 0; 
    text-indent: 0px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}
.border{
    width: 400px;
    height: 500px;
    padding: 0px;
    margin: 0px;
}
td{
    display: inline-flex;
    display: grid;
    float: left;
    grid-row: 10px;
    margin: 20px;
}
button{
    background-color: #303841;
    padding-top: 10px;
    padding-bottom: 5px;
}
button:a{
    font-size: 20px;
    color: #f0f0f0;
    text-decoration: none;
}
h2{
    color: #f0f0f0;
}
.facebook{
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    font-family: 'poppins', sans-serif; 
    color: #f0f0f0;   
}
.github{
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    font-family: 'poppins', sans-serif;  
    color: #f0f0f0;
}
.twitter{
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transform: 0.3s ease-out;
    font-family: 'poppins', sans-serif;  
    transition: ease-down;
    color: #f0f0f0;
}
.call{
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    font-family: 'poppins', sans-serif;  
    color: #f0f0f0;
}
.mail{
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    font-family: 'poppins', sans-serif; 
    color: #f0f0f0; 
}