*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family:Okra, Helvetica, sans-serif;
    background-color: transparent;
}

.welcome-section{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    width: 100%;
    height: 580px;
}

.left-nav{
    margin-left: 200px;
    color: white;
    font-family:Okra, Helvetica, sans-serif;
}

.nav-right{
    float: right;
    color: white;
    font-size: 20px;
    margin-top: -15px;
    margin-right: 71px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Okra, Helvetica, sans-serif;
}

.heading{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

.div{
    display: flex;
    flex: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.main-block{
    height: 250px;
    width: 20%;
    cursor: pointer;
    border: solid grey 1px;
    border-radius: 19px;
}

.block-img{
    width: 100%;
    height: 200px;
}

.cpt{
    color: black;
    font-weight: medium;
    text-align: center;
    padding: 15px;
}

.caption{
    height: 50px;
}

.second-para{
    margin-left: 130px;
    margin-top: 70px;
    font-size: 30px;
}

.sub-heading{
    margin-left: 130px;
    font-size: 20px;
    color: grey;
    font-weight: 300;
}

.sub-block{
    height: 310px;
    margin-left: 127px;
    display: flex;
    margin-top: 50px;
    flex: wrap;
    margin-right: 45px;
}

.sub-img{
    width: 280px;
    height: 300px;
}

.third-para{
    margin-top: 80px;
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 25px;
    text-align: center;
}

.button{
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-right: 20px;
    row-gap: 25px;
    column-gap: 15px;
}

.bu{
    height: 70px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    border-color: lightgrey;
    cursor: pointer;
    font-family: Okra,Helvetica,sans-serif;
    font-size: 20px;
}

.app{
    background-color: rgb(255, 251, 247);
    margin-top: 150px;
    width: 100%;
}

.app-img{
    background-color: rgb(255, 251, 247);
    margin-top: 150px;
}

.app-get{
    font-size: 45px;
}

.play{
    height: 100px;
    width: 200px;
}

.phone{
    display: flex;
}

.download{
    margin-top: 80px;
}

.ending{
    margin-left: 150px;
}

.main-heading{
    font-size: 30px;
    margin-top: 100px;
}

.sub-headings{
    font-size: 25px;
    margin-top: 100px;
}

.para{
    font-size: 20px;
    color: rgb(130, 130, 130);
    text-decoration: none;
   
}

.end-div{
    margin-top: 100px;
}

.foods{
    display: flex;
    flex-wrap: wrap;
}

.food{
    font-size: 20px;
    color: rgb(130, 130, 130);
    width: 230px;
    height: 40px;
    cursor: pointer;
}

.food:hover{
    color: black;
}

.see{
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
}

.words{
    background-color: rgb(252, 252, 252);
}

.footer{
    height: 500px;
    background-color: rgb(248, 248, 248);
}
.head-zomato{
    margin-left: 150px;
    font-size: 40px;
    margin-top: 80px;
    padding-top: 40px;
}

.foot{
    margin-left: 150px;
    height: 300px;
}

a{
    text-decoration: none;
    color: rgb(105, 105, 105);
    font-family: Okra, Helvetica, sans-serif;    
}

a:hover{
    color: black;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.col{
    margin-right: 90px;
}

.india{
    transform: scale(0.488889);
    width: 80px;
    height: 40px;
    margin-left: -9px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.kk{
    position: absolute;
    left: 890px;
    top: 4810px;
}

.ind{
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-size: 20px;
    cursor: pointer;
    width: 135px;
    height: 40px;
    padding-left: 70px;
}

.ii{
    position: absolute;
    left: 1030px;
    top: 4810px;
}

.world{
    height: 3.0015rem;
    transform: scale(0.488889);
    margin-left: -1.2rem;
    background-position: -141px 0px;
    border: 1px solid  rgb(130, 130, 130); 
    border-radius: 5px;
    bottom: 0.5px;
    width: 80px;
    height: 40px;
    margin-bottom: -40px;
    margin-left: -9px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.wor{
    position: absolute;
    border-color: rgb(232, 232, 232);
    border-image: initial;
    border-radius:5px ;
    border: 1px solid gainsboro;
    font-size: 20px;
    cursor: pointer;
    width: 135px;
    height: 40px;
    padding-left: 70px;
}

.ios{
    width: 14.7rem;
    height: 6rem;
    cursor: pointer;
    position: absolute;
    left: 925px;
}

.service{
    font-size: 15px;
    color: rgb(130, 130, 130);
}

hr{
    margin-right: 100px;
}